<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <style>
      footer {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <header>
      <h3>We have received your message and our team will get back to you as soon as possible!</h3>
    </header>
    <main>
      <p>
        <strong>Your message:</strong>
      </p>
      <p>
        "{{message}}"
      </p>
    </main>

    <footer>
      <p>Firehead Team &copy; 2024</p>
    </footer>
  </body>
</html>
